body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.InputBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.img {
  border-radius: 50px;
  max-width: 300px;
  width: 300px;
  object-fit:contain;
}
